<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script>



</head>

<body>
	
	<!-- #header -->

		<!-- <div class="container"> -->
		
			
<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top" >
	

	<a class="navba" href="index.ejs">codePannu</a>	
	<button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">	
	<span class="navbar-toggler-icon"></span>	
	</button>
	
	<div class="collapse navbar-collapse justify-content-between" id="nav" >
	
	<ul class="navbar-nav">	

	<li class="nav-item" >	
		<a class="nav-link  font-weight-bold px-3" style="color:#00b4b5" data-target=".navbar-collapse.show" href="aboutUs.ejs">Home</a>	
	</li>
	
	<li class="nav-item dropdown">	
		<a class="nav-link dropdown-toggle no-border font-weight-bold px-3" style="color:#00b4b5" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			About
			</a>
			<div class="dropdown-menu" aria-labelledby="Preview">
			<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="aboutUs.ejs">About Us</a>
			<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="#">Our  Team</a>
			
			</div>
	</li>
	
	<li class="nav-item dropdown">	
		<a class="nav-link dropdown-toggle font-weight-bold px-3" style="color:#00b4b5"  data-toggle="dropdown" id="Preview1" href="#" role="button" aria-haspopup="true" aria-expanded="false">Course</a>	
		<div class="dropdown-menu" aria-labelledby="Preview1">
		<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="courses.ejs"  >Courses Details</a>	
		<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="assignments.ejs" data-target=".navbar-collapse.show" >Assignments</a>
		</div>	
	</li>

	<li class="nav-item">
		<a class="nav-link  font-weight-bold px-3" style="color:#00b4b5" data-target=".navbar-collapse.show"   href="thankyou.ejs">Contact</a>
	</li>	
	</ul>
		
	</div>
</nav>
	


	<!-- Quote -->
	<section id="banner-quote">
		<p><b>Code Pannu translates to 'write code' in Tamil</b></p>
	</section>


	<section id="one" class="wrapper special">
		<div class="inner narrow">
			<header>
				<h2>About codePannu</h2>
			</header>
			<ul class="alt">
				<li>We want to introduce programming to school students</li>
				<li>We want to help students develop coding as a life skill</li>
				<li>All our courses are available for free</li>
				<!-- <li>Courses are designed to introduce students to coding for the first time and so every topic is explained in tremendous detail </li> -->
				<!-- <li>We want to reach students in every the remote and rural areas who do not have access to quality education</li> -->
				<li>Courses are explained in simple english to make it easy for relational language students</li>
				<li>Practise is important, so we take the time to correct assignments of all students</li>
			</ul>
		</div>
	</section>

	<section id="two" class="wrapper special">
		<div class="inner narrow">
			<header>
				<h2>Our team</h2>
			</header>
			<!-- <ul class="alt">
				<li>We are techies with decades of experience in IT Industry</li>
				<li>Currently working with startups providing low cost solutions in Data Science</li>
				<li>Prior experience with training Interns, Freshers and college students</li>
			</ul> -->
			<!-- <h3>Blockquote</h3> -->
			<blockquote>We are techies with decades of experience in IT Industry</blockquote>
			<blockquote>Prior experience with training interns, freshers and college students</blockquote>
		</div>
	</section>

	<!-- Two -->
	<section id="three" class="wrapper style2 special">
		<div class="inner narrow">
			<header>
				<h2>Talk to our team</h2>
			</header>
			<form class="grid-form" method="post" action="#">
				<div class="form-control narrow">
					<label for="name">Name</label>
					<input name="name" id="name" type="text">
				</div>
				<div class="form-control narrow">
					<label for="email">Email</label>
					<input name="email" id="email" type="email">
				</div>
				<div class="form-control">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="4"></textarea>
				</div>
				<ul class="actions">
					<li><input value="Send Message" type="submit"></li>
				</ul>
			</form>

		</div>
	</section>


	<section id="three" class="wrapper special">
		<div class="inner narrow">
			<!-- <hr /> -->
			<h2>Check us Out</h2>
			<br>
			<h4>No 6, Patel Kullappa Street</h4>
			<h4>M S Nagar post</h4>
			<h4>Bangalore -560033</h4>
			<br>
			<ul class="icons">
				<li><a href="#" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
				<!-- <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li> -->
			</ul>
		</div>
	</section>



	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	<script>
	$( document ).ready(function(){
	
		//close navbar if click outside
		$(document).click(function (e) {  
			if($('.collapse').hasClass('show') && !$('nav').is(e.target) && $('nav').has(e.target).length === 0){
				$('.navbar-toggler').click()
			}
		})
	
	})
	</script>
</body>

</html>