<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script>



</head>

<body>
	

<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top" >	

	<a class="navba" href="index.ejs">codePannu</a>	
	<button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">	
	<span class="navbar-toggler-icon"></span>	
	</button>
	
	<div class="collapse navbar-collapse justify-content-between" id="nav" >
	
	<ul class="navbar-nav">	

	<li class="nav-item" >	
		<a class="nav-link  font-weight-bold px-3" style="color:#00b4b5" data-target=".navbar-collapse.show" href="aboutUs.ejs">Home</a>	
	</li>
	
	<li class="nav-item dropdown">	
		<a class="nav-link dropdown-toggle no-border font-weight-bold px-3" style="color:#00b4b5" data-toggle="dropdown" id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			About
			</a>
			<div class="dropdown-menu" aria-labelledby="Preview">
			<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="aboutUs.ejs">About Us</a>
			<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="#">Our  Team</a>
			
			</div>
	</li>
	
	<li class="nav-item dropdown">	
		<a class="nav-link dropdown-toggle font-weight-bold px-3" style="color:#00b4b5"  data-toggle="dropdown" id="Preview1" href="#" role="button" aria-haspopup="true" aria-expanded="false">Course</a>	
		<div class="dropdown-menu" aria-labelledby="Preview1">
		<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="courses.ejs"  >Courses Details</a>	
		<a class="dropdown-item font-weight-bold px-3" style="color:#00b4b5" href="assignments.ejs" data-target=".navbar-collapse.show" >Assignments</a>
		</div>	
	</li>

	<li class="nav-item">
		<a class="nav-link  font-weight-bold px-3" style="color:#00b4b5" data-target=".navbar-collapse.show"   href="thankyou.ejs">Contact</a>
	</li>	
	</ul>
		
	</div>
</nav>
	
	<section id="banner-quote">
		<p>Easy and Fun coding for school students</p>
	</section>

	<section id="one" class="wrapper special">
		<div class="inner narrow">
			<h4>Sorry, this page does not exist. <a href="/"><b><u>Click here</u></b></a> to go to homepage</h4>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	<script>
		$( document ).ready(function(){
	
		//close navbar if click outside
		$(document).click(function (e) {  
			if($('.collapse').hasClass('show') && !$('nav').is(e.target) && $('nav').has(e.target).length === 0){
				$('.navbar-toggler').click()
			}
		})
	
	})
	</script>
</body>

</html>