<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"> -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script>



</head>

<body>

	<!-- #header -->
	<header id="header" class="header header-hide">
		<div class="container">
			<div id="logo" class="pull-left">
				<h1><a href="/" class="scrollto"><span>codePannu</span></a></h1>
			</div>
			<div style="float:right; padding:5px; font-size:30px">
				<a href="/"><i class="fa fa-home"></i></a></div>
		</div>
	</header><!-- #header -->




	<!-- Quote -->
	<section id="banner-quote">
		<p>Easy and Fun coding for school students</p>
	</section>

	<section id="one" class="wrapper special">
		<div class="inner narrow">
			<header>
				<h3>Congratulations</h3>
			</header>
			<p>Yay!, you have submitted your assignment successfully.
				We are very excited to see it, and we will email you soon. </p>

			<p>Continue with the course
				and keep submitting more assignments</p>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
</body>

</html>