<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script>



</head>

<body>
	
	<!-- #header -->
	<%- include ('header') -%>
	<!-- Quote -->
	<div id="pageclk">
	<section id="banner-quote">
		<p><strong>Easy and Fun coding for school students</strong> </p>
	</section>


	<section id="two" class="wrapper style2 special">
		<div class="inner narrow">
			<header>
				<h2>Assignment</h2>
			</header>
			<form class="grid-form" id='assignment-details'>
				<div class="form-control narrow">
					<!-- <label for="name">Name</label> -->
					<input name="name" id="name" type="text" placeholder='Your Name'>
					<div class="error_form" id="name_error_message"></div>
				</div>
				<div class="form-control narrow">
					<!-- <label for="email">Email</label> -->
					<input name="email" id="email" type="text" placeholder='Your Email'>
					<div class="error_form" id="email_error_message"></div>
				</div>
				<div class="form-control narrow">
					<div class="select-wrapper">
						<select name="level" id="level">
							<option value="">- Select Python Level -</option>
							<option value="1">Level One</option>
							<option value="2">Level Two</option>
						</select>
					</div>
					<div class="error_form" id="level_error_message"></div>
				</div>
				<div class="form-control narrow">
					<div class="select-wrapper">
						<select name="day" id="day">
							<option value="">- Select Day -</option>
							<option value="1">Day 1</option>
							<option value="2">Day 2</option>
							<option value="3">Day 3</option>
							<option value="4">Day 4</option>
							<option value="5">Day 5</option>
							<option value="6">Day 6</option>
							<option value="7">Day 7</option>
						</select>
					</div>
					<div class="error_form" id="day_error_message"></div>
				</div>


				<div class="form-control">
					<h4>Paste your Code for your assignment</h4>
					<!-- <label for='answer1'>Paste your code for exercise 1</label><br> -->
					<textarea name="answer1" id="answer1" rows="4"></textarea>
					<div class="error_form" id="answer_error_message"></div>
				</div>

				<div class="form-control">
					<div class="g-recaptcha"  data-sitekey="6LfYX8QZAAAAACEgNezc1YxR3EceDzcGh04n2BDx"></div>
					<!-- <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
					<div class="help-block with-errors"></div> -->
				</div>


				<ul class="actions">
					<li><input value="Submit Assignment"  id="submitDetails" type="submit" ></li>
				</ul>
			</form>

			<!---Modal box--->
			<div id='confirmation' class='modal-check'>
				<div class='modal-check-header'>
					<h6> !Error</h6>
					<a href="#" onClick='closeModal()'>
						<label for='click' class='fa fa-times'></label>
					</a>
				</div>
				<div class='modal-check-text'>
					<span style="text-align: center;"> Please click on the check box</span>
					<div class='div-line'></div>
					<br>
					<ul class="actions">
						<li><input value="close" type="submit" onClick='closeModal()'></li>
					</ul>
				</div>
			</div>
		</div>
		
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>
</div>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	<script language="javascript" type="text/javascript">

	


//form validation
	
$( document ).ready(function(){
			$("#name_error_message").hide();
        	$("#answer_error_message").hide();
			$("#email_error_message").hide();
			$("#day_error_message").hide();
			$("#level_error_message").hide();

			var formsubmit;	
						
			
			//check the name is vaild 
			function check_name() {
            var fname = $("#name").val();
            if (fname !== '') {
               $("#name_error_message").hide();
			   $("#name").css("border","");	
			   formsubmit1 = false;
            } else {
               $("#name_error_message").html("Enter Your name");
               $("#name_error_message").show();
               $("#name").css("border","2px solid  #FCE205");
               formsubmit1 = true;
			}			
			
		 	}

			//check the message is vaild 
			function check_answer() {
            var mess = $("#answer1").val();
            if (mess !== '') {
               $("#answer_error_message").hide();
			   $("#answer1").css("border","");
			   formsubmit2 =false;
			}
			else {
               $("#answer_error_message").html("Enter your message");
               $("#answer_error_message").show();
               $("#answer1").css("border","2px solid  #FCE205");
			   formsubmit2 = true;
			}
			
						
		}
		
        //check the email vaild
		function check_email() {
            var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var email = $("#email").val();
            if (pattern.test(email) && email !== '') {
               $("#email_error_message").hide();
			   $("#email").css("border","");
			   formsubmit3 = false;
            } else {
               $("#email_error_message").html("Enter the vaild email");
               $("#email_error_message").show();
			   $("#email").css("border","2px solid  #FCE205");
			  
               formsubmit3 = true;
			}					
			
		 }  
		 
		 
			 //check the level is vaild 
			function check_level() {
			var levelv = $("#level option:selected").val();
			//var year = $('.year option:selected').val();
            if (levelv !== '') {
               $("#level_error_message").hide();
			   $("#level").css("border","");
			   formsubmit4 =false;
			}
			else {
               $("#level_error_message").html("Enter the level");
               $("#level_error_message").show();
               $("#level").css("border","2px solid  #FCE205");
			   formsubmit4 = true;
			}		
						
		}


			//check the day is vaild 
			function check_day() {				
            var dayv = $("#day option:selected").val();
            if (dayv !== '') {
               $("#day_error_message").hide();
			   $("#day").css("border","");
			   formsubmit5 =false;
			}
			else {
               $("#day_error_message").html("Enter the day");
               $("#day_error_message").show();
               $("#day").css("border","2px solid  #FCE205");
			   formsubmit5 = true;
			}
			
				
		}

		//Button click	
			$("#assignment-details").submit(function (e) {
				this.disabled = true
				//prevent Default functionality
				e.preventDefault();

				check_name();
				check_answer();
				check_email();
				check_level();
				check_day();

				if (formsubmit1 || formsubmit2 || formsubmit3 || formsubmit4 || formsubmit5 )
				{  
				
					return false 
				}
				else
				{
					
				const captcha = document.querySelector('#g-recaptcha-response').value
				const name = document.getElementById('name').value
				const email = document.getElementById('email').value
				const level = document.getElementById('level').value
				const day = document.getElementById('day').value
				const answer1 = document.getElementById('answer1').value

				fetch('/subscribe', {
					method: 'POST',
					headers: {
						'Accept': 'application/json, text/plain, */*',
						'Content-type': 'application/JSON'
					},
					body: JSON.stringify({ name: name, email: email, level: level, day: day, answer1: answer1, captcha: captcha })
				})
					.then((res) => res.json())
					.then((data) => {
						var isCaptchaValidated = data.success;
						console.log(isCaptchaValidated);
						if (isCaptchaValidated == true) {
							fetch('/assignments', {
								method: 'POST',
								headers: {
									'Accept': 'application/json, text/plain, */*',
									'Content-type': 'application/JSON'
								},
								body: JSON.stringify({ name: name, email: email, level: level, day: day, answer1: answer1 })
							})
								.then((res) => res.json())
								.then((data1) => {
									window.location.replace(data1.url);
								})
						}
						else {
							
							$("#confirmation").css("display", "block");
						}
					})
				}
			});			
	})

		function closeModal() {
			$("#confirmation").css("display", "none");
			//window.location.reload();						
		}

	</script>


</body>

</html>