<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body>

    <!-- #header -->
    <header id="header" class="header header-hide">
        <div class="container">
            <div id="logo" class="pull-left">
                <h1><a href="/" class="scrollto"><span>codePannu</span></a></h1>
            </div>
            <div style="float:right; padding:5px; font-size:30px">
                <a href="/"><i class="fa fa-home"></i></a></div>
        </div>
    </header><!-- #header -->




	<!-- Quote -->
	<section id="banner-quote">
		<p><b>Python Course - Level One</b></p>
	</section>

	<!-- One -->
	<section id="one" class="wrapper special">
		<div class="inner narrow">
			<header>
				<h2>How it works</h2>
			</header>
			<dl>
				<dt>Step 1</dt>
				<dd>
					<p>Watch our short and interesting videos for the day. <a
						href="#two"><b>Click here</b></a> for day-wise videos</p>
				</dd>
				<dt>Step 2</dt>
				<dd>
					<p>Submit the assignments <a
						href="assignments"><b>here</b></a></p>
				</dd>
				<dt>Step 3</dt>
				<dd>
					<p>Corrected assignments will be sent to your email inbox</p>
				</dd>
			</dl>

		</div>
	</section>

	<section id="two" class="wrapper style2 special">
		<div class="inner narrow">
			<header>
				<h3><b>7 day python level one course</b></h3>
				<!-- <p></p> -->
			</header>

			<dl>
				<dt>Day 0 - Introduction to coding</dt>
				<dd>
					<p>Download, Install and save files in python - <a href="https://www.youtube.com/watch?v=YDzaPFOQUzI"><b>Click here</b></a></p>
					<p>What is programming language, program, syntax, error - <a href="https://www.youtube.com/watch?v=gXkgCyxyBCY"><b>Click here</b></a></p>
					<p>How to submit assignments - <a href="https://www.youtube.com/watch?v=dYyLDsoemxI"><b>Click here</b></a></p>
				</dd>
				<dt>Day 1 - Print Statement</dt>
				<dd>
					<p>Video 1 - <a href="https://www.youtube.com/watch?v=9x0JDdPbakU"><b>Print a sentence</b></a></p>
					<p>Video 2 - <a href="https://www.youtube.com/watch?v=fMIHG4kr6EU"><b>print multiple sentences with line breaks</b></a></p>
					<p>Video 3 - <a href="https://www.youtube.com/watch?v=yfvPnOLcutk"><b>Print your own marks card</b></a></p>
					<p>Video 4 - <a href="https://www.youtube.com/watch?v=w5qUQp94PBQ"><b>Fun assignment to print time table and alphabets</b></a></p>
				</dd>
				<dt>Day 2 - Variables</dt>
				<dd>
					<p>Video 1 - <a href="#"><b>What are variables</b></a></p>
					<p>Video 2 - <a href="#"><b>What are variables continued</b></a></p>
					<p>Video 3 - <a href="#"><b>What are datatypes, integers and strings</b></a></p>
					<p>Video 4 - <a href="#"><b>Print Integers and String variables</b></a></p>
					<p>Video 5 - <a href="#"><b>Assignment to print an essay on favourite animal</b></a></p>
				</dd>
				<dt>Day 3 - Comment and Input</dt>
				<dd>
					<p><a href="#"><b>Input statment</b></a></p>
					<p> <a href="#"><b>Comment statment</b></a></p>
					<p> <a href="#"><b>Print statement</b></a></p>
				</dd>
				<dt>Day 4 - Conditional and Boolean Operators</dt>
				<dd>
					<p><a href="#"><b>Numerical operators</b></a></p>
					<p> <a href="#"><b>Conditional operators with Integers</b></a></p>
					<p> <a href="#"><b>Conditional operators with Strings</b></a></p>
				</dd>
				<dt>Day 5 - Advanced Boolean Operators</dt>
				<dd>
					<p><a href="#"><b>Advanced boolean operators</b></a></p>
					<p> <a href="#"><b>Multiple Conditions</b></a></p>
					<!-- <p> <a href="#"><b>Introduction to coding - Video 3</b></a></p> -->
				</dd>
				<dt>Day 6 - Conditional statement</dt>
				<dd>
					<p><a href="#"><b>If statement</b></a></p>
					<p> <a href="#"><b>If else statement</b></a></p>
					<p> <a href="#"><b>If,elif else statement</b></a></p>
				</dd>
				<dt>Day 7 - Make your own game</dt>
				<dd>
					<p><a href="#"><b>Build a Game</b></a></p>
				</dd>
			</dl>







			<!-- </div> -->

		</div>
	</section>







	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>

</body>

</html>