<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="icon" type="image/png" href="images/favicon.ico"/>
	<link rel="icon" type="image/png" href="images/favicon.ico"/>

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script>
</head>

<body>
	<!-- #header -->
	<header id="header" class="header header-hide header-border">
		<!-- <div class="container"> -->
		<div id="logo" class="pull-left" >
			<h1><span><a style="color:rgb(243, 205, 36)" class="navba" href="/">codePannu</a>	</span></h1>
		</div>
		<nav >
			<div class="hamburger" id="menu"  onClick = 'openMenu()'>
				<div class="line"></div>
				<div class="line"></div>
				<div class="line"></div>
			</div>
		  
			<ul class="nav-links" id="menuLink">
				<li>
					<a href="/" > Home</a>
			    </li>

				<li class="course"><a href="#" onClick="return true">Course <i class="fa fa-caret-down" ></i></a>
					<ul class="course1">
						<li><a href="/python-courses">Courses Details</a></li>
						<li><a href="/assignments">Assignments</a></li>
					</ul>
				</li>
			
				<li class="about"><a  href="#" onClick="return true">About <i class="fa fa-caret-down"  ></i></a>
					<ul class="about1">
						<li class="aboutus"><a href="/aboutUs">About Us</a></li>
						<li class="team"><a href="/view-course">Our Team</a></li>
					</ul>
				</li>
				<li>
					<a href="/thankyou">Contact</a>
				</li>
			</ul>
		</nav>
		<!-- </div> -->
	</header><!-- #header -->

	<!-- Scripts -->
	<!-- <script src="assets/js/jquery.min.js"></script> -->
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="../node_modules/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	<script language="javascript" type="text/javascript">
		function openMenu(){
	  	   const hamburger = document.getElementById("menu");
	  	   const navLinks = document.getElementById("menuLink");
      	   navLinks.classList.toggle("open");
     	}
		 
		 function openMenu1(){
			const hamburger = document.getElementById("menu");
	  	   const navLinks = document.getElementById("menuLink");
      	   navLinks.classList.remove("open");
		 } 
	

		 function myFunction() {
		var x = document.getElementById("myTopnav");
		if (x.className === "topnav") {
			x.className += " responsive";
		} else {
			x.className = "topnav";
		}
	}
	//form validation
	

	</script>
</body>

</html>