<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
	<title>codePannu - Free Python online course for school students</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> -->
	<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179069335-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-179069335-1');
	</script>



</head>

<body>
	<!-- #header -->
	<header id="header" class="header header-hide">
		<!-- <div class="container"> -->
		<div id="logo" class="pull-left">
			<h1><a href="#body" class="scrollto"><span>codePannu</span></a></h1>
		</div>
		<div style="float:right; padding:5px; font-size:30px">
			<a href="/" style="float:right; padding:5px; font-size:30px"><i class="fa fa-home"></i></a></div>
		<!-- </div> -->
	</header><!-- #header -->

	<!-- Banner -->
	<section id="banner">
		<h2><strong>We make Coding easy and fun for school students</strong></h2>
		<p><strong>Check out our free python courses</strong></p>
		<a href="python-courses" class="button special">Know more</a>
	</section>

	<!-- One -->
	<section id="one" class="wrapper special">
		<div class="inner">
			<header class="major">
				<h2>Our Services</h2>
			</header>
			<div class="features">
				<div class="feature">
					<i class="fa fa-laptop"></i>
					<h3>Python Courses</h3>
					<p>We provide 7 day courses in python. The courses are free for all students. <a
							href="python-courses#two"><b>Click
								here</b></a> to know more</p>
				</div>
				<div class="feature">
					<i class="fa fa-bullhorn"></i>
					<h3>How it works</h3>
					<p>Simple three step process to learn, practise and get support. <a
							href="python-courses#one"><b>Click here</b></a> to know more</p>
				</div>
				<div class="feature">
					<i class="fa fa-cloud-upload"></i>
					<h3>Submit assignments</h3>
					<p>We try our best to correct assignments submitted by all our students. <a
							href="assignments"><b>Click here</b></a> to submit your assignments</p>
				</div>
				<div class="feature">
					<i class="fa fa-info-circle"></i>
					<h3>What we do</h3>
					<p>Our mission is to introduce school students to coding as a fun and exciting activity
						. <a href="aboutUs"><b>Click here</b></a> to read more</p>
				</div>
				<div class="feature">
					<i class="fa fa-users"></i>
					<h3>Our Team</h3>
					<p>We are experienced techiies who want to create next generation tech entrepreneurs. <a
							href="aboutUs#two"><b>Click here</b></a> to know us</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style2 special">
		<div class="inner narrow">
			<header>
				<h2>Talk to our team</h2>
			</header>
			<form id='message-details' class="grid-form">
				<div class="form-control narrow">
					<label for="name">Name</label>
					<input name="name" id="name" type="text">
					<div class="error_form" id="name_error_message"></div>
				</div>
				<div class="form-control narrow">
					<label for="email">Email</label>
					<input name="email" id="email" type="text">
					<div class="error_form" id="email_error_message"></div>
				</div>
				<div class="form-control">
					<label for="message">Message</label>
					<textarea name="messagefield" id="messagefield" rows="4"></textarea>
					<div class="error_form" id="message_error_message"></div>
				</div>
				<ul class="actions">
					<li><input value="Send Message" disabled type="submit" id="btnSubmit" onClick='submitFormDetails()'></li>
				</ul>
			</form>

			<div id='confirmation' class='modal-confirmation'>
				<div class='modal-confirmation-header'>
					<h6> Confirmation</h6>
					<a href="#" onClick='closeModal()'>
						<label for='click' class='fa fa-times'></label>
					</a>
				</div>
				<div class='modal-confirmation-text'>
					<span> Your message has been sent successfully</span>
					<div class='div-line'></div>
					<!-- <label for='click' class='close-btn' onClick='closeModal()'>Close window</label> -->
					<ul class="actions">
						<li><input value="close Modal" type="submit" onClick='closeModal()'></li>
					</ul>
				</div>
			</div>
			<hr />
		</div>
	</section>

	<section id="two" class="wrapper special">
		<div class="inner narrow">
			<h2>Check us Out</h2>
			<br>
			<h4>No 6, Patel Kullappa Street</h4>
			<h4>M S Nagar post</h4>
			<h4>Bangalore -560033</h4>
			<br>
			<ul class="icons">
				<li><a href="#" class="icon fa-youtube"><span class="label">Twitter</span></a></li>
				<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			</ul>
		</div>
	</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			&copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
		</div>
	</footer>

	<!-- Scripts -->
	<!-- <script src="assets/js/jquery.min.js"></script> -->
	<script src="assets/js/jquery-3.5.1.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="assets/js/main.js"></script>
	<script language="javascript" type="text/javascript">
	
	//form validation
	
		$(function(){
			$("#name_error_message").hide();
        	$("#message_error_message").hide();
			$("#email_error_message").hide();
			
			var error_name ;
         	var error_message ;
			var error_email ;
						
			$("#name").focusout(function(){
            check_name();
         	});
			 
			 $("#name").keyup(function() {
			check_name();
			});
			
			$("#email").focusout(function() {
            check_email();
			});
			
			$("#email").keyup(function() {
			check_email();
			});
			
			$("#messagefield").keyup(function() {
			check_message();
			});
			
			$("#messagefield").focusout(function() {
			check_message();
			});

			//check the name is vaild 
			function check_name() {
            var fname = $("#name").val();
            if (fname !== '') {
               $("#name_error_message").hide();
			   $("#name").css("border","2px solid #34F458");
			   error_name = false;
            } else {
               $("#name_error_message").html("Enter Your name");
               $("#name_error_message").show();
               $("#name").css("border","2px solid #F90A0A");
               error_name = true;
			}
			
			if(error_name === false && error_message === false && error_email === false )
			 {	$('#btnSubmit').attr("disabled", false);} 
			 else{  $('#btnSubmit').attr("disabled", true); }	
		 	}

			 //check the message is vaild 
			function check_message() {
            var mess = $("#messagefield").val();
            if (mess !== '') {
               $("#message_error_message").hide();
			   $("#messagefield").css("border","2px solid #34F458");
			   error_message =false;
			}
			else {
               $("#message_error_message").html("Enter your message");
               $("#message_error_message").show();
               $("#messagefield").css("border","2px solid #F90A0A");
               error_message = true;
			}
			if (error_name === false && error_message === false && error_email === false )
		 	{	$('#btnSubmit').attr("disabled", false);	 }
			 else{
				$('#btnSubmit').attr("disabled", true);
			}	
						
		}
		
        //check the email vaild
		function check_email() {
            var pattern = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
            var email = $("#email").val();
            if (pattern.test(email) && email !== '') {
               $("#email_error_message").hide();
			   $("#email").css("border","2px solid #34F458");
			   error_email = false;
            } else {
               $("#email_error_message").html("Enter the vaild email");
               $("#email_error_message").show();
               $("#email").css("border","2px solid #F90A0A");
               error_email = true;
			}		
			
			if(error_name === false && error_message === false && error_email === false )
			 {	$('#btnSubmit').attr("disabled", false); } 	
			else{ $('#btnSubmit').attr("disabled", true); }			
         }  
		
		 if (error_name === false && error_message === false && error_email === false )
		 {	$('#btnSubmit').attr("disabled", false);	 }	
		})

		
		//Button click function
		function submitFormDetails() {			
					//alert("success")
		    		//do your own request an handle the results
					var remote = $.ajax({
					url: '/message',
					type: 'post',
					async: false,
					dataType: 'application/json',
					data: $("#message-details").serialize(),
					// success: function (data) {
					// 	alert(data)
					// }
				}).responseText;
				if (remote == 'OK') {
					$("#confirmation").css("display", "block");
					document.getElementById('name').value = ''
					document.getElementById('email').value = ''
					document.getElementById('messagefield').value = ''
				}
				else {
					alert('Could not send your message, please try again')
				}
				
			}
	
	function closeModal() {
			$("#confirmation").css("display", "none");
			window.location.reload();
			// })
	}

	
	</script>
</body>

</html>